@media screen and (max-width: 1200px) {
    #hero p {
        font-size: .8rem;
    }

    #hero h1 {
        font-size: 2.3rem;
    }

    #skill .card {
        background-color: #e7e5e5;
        height: 390px;
        width: 250px!important;
        padding-top: 27px !important;
        transition: all .4s linear;
    }

    #skill .card h2 {
        font-size: 2.2em;
    }

    #hero .row {
        align-items: center;
        height: 70vh;
    }
}

@media screen and (max-width: 767px) {
    #hero img {
        width: 60%;
    }

    .social-icon {
        left: 50%;
        transform: translate(-50%);
    }

    .btn-custom1 {
        width: 80%;
    }

    #about p {
        text-align: justify !important;
    }

    #skill .card {
        background-color: #e7e5e5;
        height: 390px;
        width: 100%!important;
        padding-top: 27px !important;
        transition: all .4s linear;
    }

    #skill .card {
        margin-bottom: 30px;
    }

    .hovereffects {
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 576px) {

    hr {
        width: 70%;
    }

    #hero img {
        width: 60%;
    }

    #skill .card {
        width: 100%!important;
    }

    #hero .row {
        padding-bottom: 75px;
    }

    #hero .social-icon {
        width: 100%;
    }

    #hero p {
        font-size: .8rem;
    }

    #hero h1 {
        font-size: 2rem;
    }

    footer img {
        width: 60px;
        height: 60px;
    }

    footer p {
        font-size: .9em;
    }

    nav a.nav-link {
        font-size: 1em;
    }

    #sertifikat p,
    a {
        font-size: .8rem;
    }

}

@media screen and (max-width: 350px) {
    #hero p {
        font-size: .7rem;
    }

    #hero a {
        font-size: .9rem;
    }

    #hero .social-icon {
        padding-bottom: 10px;
    }

    #hero h1 {
        font-size: 1.9rem;
    }

    #hero img {
        width: 80%;
    }

    #about h1,
    #skill h1,
    #sertifikat h1,
    #portofolio h1 {
        font-size: 1.5rem;
    }

    #about p {
        font-size: .8rem;
    }

    #skill .card h2 {
        font-size: 2.1em;
    }

    #skill .card {
        width: 100%!important;
    }

    #skill .card p {
        font-size: .8em;
    }
}